<br-create-book
  (createBook)="addBook($event)"
  ></br-create-book>

<hr>

<!--
<ng-container *ngIf="books$ | async as bb; else loading">

  Buch 1: {{ bb[0].title }}
  Anzahl der Bücher: {{ bb.length + 1 }}<br>

</ng-container>

<ng-template #loading>
  <strong>Buch wird geladen...</strong>
</ng-template>

<hr>
-->

<br-book
  *ngFor="let b of books"
  [book]="b"
  (rate)="reorderBooks($event)"
  ></br-book>

Anzahl der Bücher: {{ books.length + 1 }}

<!--
<ng-container *ngFor="let b of books; index as i; even as e">

  <div [ngClass]="{ isEven: e, blubb: true }">

    {{ i + 1 }}.
    <br-book [book]="b"></br-book>
  </div>

</ng-container>
-->
